<div data-hook="admin_product_form_frozen_fields" class="row">
  <div class="col-12">
    <h4 class="mt-4"><%= t('spree.frozen_product_info') %></h4>
  </div>
  
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :frozen_product, t('spree.frozen_product') %>
      <%= f.check_box :frozen_product, class: 'form-check-input' %>
      <small class="form-text text-muted"><%= t('spree.frozen_product_description') %></small>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :storage_temperature, t('spree.storage_temperature') %>
      <div class="input-group">
        <%= f.number_field :storage_temperature, class: 'form-control', step: 0.1 %>
        <span class="input-group-text">℃</span>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :shelf_life_days, t('spree.shelf_life_days') %>
      <div class="input-group">
        <%= f.number_field :shelf_life_days, class: 'form-control' %>
        <span class="input-group-text">日</span>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :supplier_code, t('spree.supplier_code') %>
      <%= f.text_field :supplier_code, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :origin_country, t('spree.origin_country') %>
      <%= f.text_field :origin_country, class: 'form-control', placeholder: '例: 日本' %>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <%= f.label :allergens, t('spree.allergens') %>
      <%= f.text_area :allergens, class: 'form-control', rows: 2, placeholder: '例: えび、かに' %>
      <small class="form-text text-muted"><%= t('spree.allergens_description') %></small>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <%= f.label :nutrition_info, t('spree.nutrition_info') %>
      <%= f.text_area :nutrition_info, class: 'form-control', rows: 4, placeholder: '栄養成分表示（100gあたり）' %>
    </div>
  </div>

  <div class="col-12">
    <div class="form-group">
      <%= f.label :cooking_instructions, t('spree.cooking_instructions') %>
      <%= f.text_area :cooking_instructions, class: 'form-control', rows: 4, placeholder: '調理方法・注意事項' %>
    </div>
  </div>
</div>
